node_modules
server/node_modules
smarc.sublime-project
smarc.sublime-workspace
SOURCE/
platforms/
Smarc.sublime-workspace
Smarc.sublime-project
SOURCE
*.log
server/plugins/Light/src/output.json

server/plugins/Auth/src/savedJwt

server/plugins/Auth/src/savedJWT

server/core/log.txt
