node_modules
server/node_modules
smarc.sublime-project
smarc.sublime-workspace
server/core/log.txt
Smarc.sublime-project
Smarc.sublime-workspace
SOURCE/
platforms/
Smarc.sublime-workspace
Smarc.sublime-project
*.log
server/plugins/Light/src/output.json
server/plugins/Auth/src/savedJwt
server/plugins/Auth/src/savedJWT
