<div class="page room-container">
    <div layout layout-wrap class="points-margin">
        <div class="card-container" ng-repeat="(name, point) in gates" flex="50" layout="column">
            <div class="card" ng-click="open(name)">
                <div class="icon">
                    <img ng-if="!point.s" src="img/gate-closed.png" alt="gate closed">
                    <img ng-if="point.s" src="img/gate-opened.png" alt="gate opened">
                </div>
                <div class="name">{{ node_name }}</div>
            </div>
        </div>
    </div>
</div>
