<div class="page home-container">
<!--     <p>{{ incomeReq }}</p>
    <p>{{ tests }}</p>
    <button type="button" ng-click="test()">test Socket</button> -->
    
    <md-button class="md-raised md-primary" ng-click="openLight()">Primary</md-button>

    <div layout layout-wrap>
        <div flex="50" layout="column">
            <md-card flex>ROOM ONE</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM TWO</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM THREE</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM FOUR</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM FIVE</md-card>
        </div>
    </div>
</div>
