<div class="page home-container">
    <md-button class="md-raised md-primary" ng-click="toggle('p127')">light p127</md-button>
    <md-button class="md-raised md-primary" ng-click="toggle('p72')">light p72</md-button>
    <md-button class="md-raised md-primary" ng-click="testJwt()">Test Jwt</md-button>

    <div layout layout-wrap>
        <div flex="50" layout="column">
            <md-card flex>ROOM ONE</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM TWO</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM THREE</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM FOUR</md-card>
        </div>
        <div flex="50" layout="column">
            <md-card flex>ROOM FIVE</md-card>
        </div>
    </div>
</div>
