<md-dialog aria-label="Loading" ng-cloak>
   <md-toolbar>
       <div class="md-toolbar-tools">
           <h2>Loading ...</h2>
           <span flex></span>
       </div>
   </md-toolbar>
   <md-dialog-content>
       <div class="md-dialog-content">
          <p>No Internet Connection, Please make sure you connected then press reCheck</p>
       </div>
   </md-dialog-content>
   <md-dialog-actions layout="row">
       <span flex></span>
       <md-button ng-click="close()">
           exit
       </md-button>
       <md-button ng-click="reload('hello world')">
           reCheck
       </md-button>
   </md-dialog-actions>
</md-dialog>'
