<div class="page options-container">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Settings">
            <md-content class="md-padding">
                <div layout="column">
                    <md-input-container flex="100">
                        <label>IP address</label>
                        <input ng-model="options.serverIp">
                    </md-input-container>
                    <md-input-container flex="100">
                        <label>Port</label>
                        <input ng-model="options.serverPort">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center">
                    <md-button type="button" flex class="md-primary md-raised" ng-click="save()">save</md-button>
                    <md-button type="button" flex class="md-primary md-raised" ng-click="reset()">reset</md-button>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Names">
            <md-content class="md-padding">
                
            </md-content>
        </md-tab>
    </md-tabs>
</div>
