<div class="page options-container">
    <md-card class="md-padding">
        <h1>App Options</h1>
        <div class="options-form">
            <md-input-container>
                <label>IP address</label>
                <input ng-model="user.firstName">
            </md-input-container>
        </div>
        <div layout="row" layout-align="center">
            <md-button type="button" flex class="md-primary md-raised" ng-click="">save</md-button>
            <md-button type="button" flex class="md-primary md-raised" ng-click="">reset</md-button>
        </div>
    </md-card>
</div>
