<div class="page options-container">
    <md-card class="md-padding">
    
        <md-list ng-cloak>

            <md-list-item class="secondary-button-padding" ng-click="create()">
                <p>Add New User</p>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item class="secondary-button-padding" ng-repeat="user in users" ng-click="edit(user._id)">
                <p>{{ user.name }}</p>
            </md-list-item>

        </md-list>

    </md-card>
</div>

