<div class="page options-container">
    <md-card class="md-padding">
        <h3>{{ user.name }}</h3>
        <div layout="column">
            <md-input-container flex="100">
                <label>Name</label>
                <input ng-model="user.name">
            </md-input-container>
            <md-input-container flex="100">
                <label>Password</label>
                <input type="password" ng-model="user.password">
            </md-input-container>
            <md-input-container flex="100">
                <label>Repeat Password</label>
                <input type="password" ng-model="user.repeat">
            </md-input-container>
        </div>

        <div layout="row" layout-align="center">
            <md-button type="button" flex class="md-primary md-raised" ng-click="update()">Update</md-button>
        </div>

    </md-card>
</div>
