<?xml version='1.0' encoding='utf-8'?>
<widget id="io.smarchome.www" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://www.smarchome.io">
    <name>Smarc</name>
    <description>
        smart home automation open source project
    </description>
    <author email="info@smarchome.io" href="http://www.smarchome.io">
        Smarc Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="1" />
    <plugin name="cordova-plugin-network-information" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- for Android ONLY -->
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- Icons -->
        <icon src="www/img/android/icons/LDPI.png"  width="36" height="36" density="ldpi" />
        <icon src="www/img/android/icons/MDPI.png"  width="48" height="48" density="mdpi" />
        <icon src="www/img/android/icons/HDPI.png"  width="72" height="72" density="hdpi" />
        <icon src="www/img/android/icons/XHDPI.png" width="96" height="96" density="xhdpi" />

        <!-- Splash Screen landscape -->
        <splash src="www/img/android/splash/land/LDPI.png"  density="land-ldpi"/>
        <splash src="www/img/android/splash/land/MDPI.png"  density="land-mdpi"/>
        <splash src="www/img/android/splash/land/HDPI.png"  density="land-hdpi"/>
        <splash src="www/img/android/splash/land/XHDPI.png" density="land-xhdpi"/>

        <!-- Splash Screen portrait -->
        <splash src="www/img/android/splash/port/LDPI.png"  density="port-ldpi"/>
        <splash src="www/img/android/splash/port/MDPI.png"  density="port-mdpi"/>
        <splash src="www/img/android/splash/port/HDPI.png"  density="port-hdpi"/>
        <splash src="www/img/android/splash/port/XHDPI.png" density="port-xhdpi"/>

        <!-- Splash Screen preferences -->
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="10000" />
        <preference name="SplashMaintainAspectRatio" value="true" />    
    </platform>
</widget>
